label{
    display: inline-block;
}
fieldset.formErrors{
    color: red;
    font-weight: bold;
}

#pageTitle{
    font-size: 24px;
    font-weight: bold;
    border-bottom: 2px solid #999;
    margin-bottom: 10px;
}

.imgBlock{
    margin-bottom: 20px;
    overflow: hidden;
}


.image{
    float: left;
    margin-right: 10px;
}
.imgName{
    font-size: 24px;
    font-weight: bold;
    border-bottom: 2px solid #666;
}
.imgDetails{
    float: left;
    width: 350px;
}
.conditions{
    margin-left: 15px;
    /*overflow-y: scroll;*/
    /*height: 100px;*/
}
.condition{
    border: 1px solid #cccccc;
    margin-bottom: 5px;
}
.condition label{
    cursor: pointer;
}
.availableYes{
    font-weight: bold;
    color: #006400;
}
.availableNo{
    font-weight: bold;
    color: #8b0000;
}

.removeConditionLink{
    display: block;
}
.conditionList li{
    list-style-type: decimal;
}
.conditionSubList li{
    list-style-type: disc;
}
.conditionLink{
    list-style: none !important;
}
.conditionSubList label{
    font-weight: bold;
}
.conditionSeperator{
    border-bottom: 2px solid #999;
    margin-bottom: 5px;
    padding-bottom: 10px;
}
.conditionFieldset{
    margin-top: 15px;
}
.conditionCmds{
    font-style: italic;
}

.displayConditions fieldset{
    margin-left: 25px;
}
.displayConditions fieldset.closed{
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

#ipGroups{
    margin-left: 10px;
}
.ipRanges{
    margin-left: 20px;
}