/serverConfiguration/serverLogs/
/serverConfiguration/includes/
/.vagrant/
sessionLogin.php
db-back.sh
start-srv.sh
/SQLFiles/
server
/server


# don't let these stupid things in the repo
.DS_STORE
.DS_Store
