# ignore Tracy's scripts
db-back.sh
start.sh
cleanup.sh

# ignore our environment config files
.env.db
.env.web

/SQLFiles/
server
/server

# don't let these stupid things in the repo
.DS_STORE
.DS_Store
