form, .well {
  @include span-columns(12);
  padding:20px;
  background: lighten($default,5%);
  border-radius: 8px;
  float:left;
  height:auto;
  position:relative;
  border: 1px solid darken($default, 10%);
  margin-bottom:20px;
}

.file-upload-wrapper {
  @include span-columns(12);
  margin-bottom:45px;

  .image-preview {
    @include span-columns(12);
    height:auto;
    padding:10px;
    border: 2px dashed darken($default, 20%);
    margin-bottom:10px;

    img { @include span-columns(12); height:auto;}
  }


  .file-upload {
    @include span-columns(12);
    position:relative;
    label { display:none; }

    &:after {
       content: attr(data-text);
       font-size: 14px;
       position: absolute;
       top: 0;
       left: 0;
       background: #fff;
       padding: 7px 15px;
       display: block;
       border-radius: 5px 10px 10px 5px;
       font-weight: 300;
       height: 40px;
       width:100%;
       color:#000;
       border: 1px solid darken($default, 10%);
     }

     &:before {
       content: 'Upload';
       position: absolute;
       top: 0;
       right: 0;
       display: inline-block;
       height: 40px;
       background: $link-color;
       color: #fff;
       padding: 5px 30px;
       pointer-events: none;
       border-radius: 0 5px 5px 0;
       z-index: 25;
     }

     &:hover,&:focus {
       &:after {
        border-color:darken($link-color, 10%);
       }
       &:before {
        background:darken($link-color, 10%);
       }
     }
  }

  input[type="file"] {
     opacity: 0;
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     z-index: 99;
     height:60px;
     margin: 0;
     padding: 0;
     display: block;
     cursor: pointer;
     width: 100%;
     max-width:100%;
  }
}

.image-info-wrapper {
  @include span-columns(12);
  margin-bottom:20px;
  input { max-width:100%; }
}

.selects {
  .field { @include span-columns(6); @include omega(2n);}
  select { max-width:100%; }
}

.actions {
  @include span-columns(12);
  margin-top:2em;
  margin-bottom:5px;

 .cancel-button, .submit-button, .edit-button {
    @include span-columns(12);
    height:52px;
    padding:13px;
    text-align:center;
    i { font-size:1em; }
  }
}


.cancel-button-wrapper {
    @include span-columns(6);
}

.submit-button-wrapper {
  @include span-columns(6);
}

.date-ranges {
  @include span-columns(12);
}

.date-range-button {
  position:relative;
  margin-top:20px;
  display:inline-block;
}

.ad-header {
  .title { @include span-columns(12);
    @include breakpoint(tablet) {
        @include span-columns(6);
    }
  }

  .utils { @include span-columns(12);
    @include breakpoint(tablet) {
        @include span-columns(6);
        text-align:right;
        @include omega();
    }
  }
}

.footer-util { @include span-columns(12); text-align:right;}
