$blue: #002855;
$gold: #EAAA00;

$pms432: #333F48;
$pms429: #A2AAAD;

$pms300: #005EB8;
$pms144c: #ED8B00;

$dark-green: #0D5257;
$light-green: #9ABEAA;

$red: #BE3A34;
$red-orange: #E35205;
$yellow: #FDDA24;

$light-blue: #9BD3DD;

$border: 2px solid #e1e1e1;
$gray-text: #aaa;

$header-background: #eee;
