<!DOCTYPE html>
<html>
  <head>
    <title>RotatingHomepageAds</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <main>
    <%= yield %>
  </main>

  <footer>
    <div class="builtBy">
        <span class="built">Built</span>
        <span class="by">By </span>
        <span class="wvu">WVU</span>
        <span class="libs">Libraries</span>
    </div>
  </footer>
</html>
