<div class="hero-wrapper">
  <div class="hero-background"></div>
  <div class="rotating-images">
    <ul class="slider">
        <!-- Images go here -->
    </ul>
  </div>
  <div class="hero-text">
    <h2> About </h2>
    <p> This tool was created to manage various ads that are displayed on the libraries web page!  The idea is that you have control of an API that shows images based on times, dates, weekdays, and other information. This provides a user interface to control that API and use it on various sites or other campus related needs. </p>

    <a href="https://github.com/wvulibraries/image-ads" class="button-hero pull-right"> <i class="fa fa-github" aria-hidden="true"></i> View On Github </a>
  </div>
</div>


<section class="tool-select">
  <div class="tool">
    <h2> Currently Displayed Ads </h2>
    <p> Javascript will be added here to show current ads. </p>
  </div>
</section>

<link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/vendor/jquery.easing.1.3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.min.js" type='text/javascript'> </script>



<script type='text/javascript'>
      $(document).ready(function() {
          // make it slide
          var slider = $('.slider').bxSlider({
            mode: 'fade',
            captions: true
          });

          $.ajax({
              dataType:'json',
              url:'/ajax/getads.json',
              data: '',
              success:function() {
                  console.log('success');
              },
              error: function (jqXHR, textStatus, errorThrown) {
                  console.log(textStatus + ': ' + errorThrown);
              },
              complete: function(data){
                  var jsonData = data.responseJSON;

                  for (var i = 0; i < jsonData.length; i++) {
                      var buildList = '<li><a href="' + jsonData[i].actionUrl +'">';
                      buildList += '<img src="'+ jsonData[i].imageAd +'" alt="' + jsonData[i].altText + '" title="' + jsonData[i].name + '" />';
                      buildList += '</a></li>';

                      $('.slider').append(buildList);
                  }

                  slider.reloadSlider();
              },
          });
      });
  </script>
