
<p id="notice"><%= notice %></p>



<div class="header">
  <h1> Welcome! </h1>

  <div class="hero-text">
    <p> This tool was created to manage various ads tgat are displayed on the libraries web page! This tool is also open source, check it out on github [github link here!]. </p>
  </div>

  <div class="admin-login">
      link to admin cas login here
  </div>
</div>


<main class="tool-select">
  <div class="tool">
    <h2> Currently Displayed Ads </h2>
    <p> Javascript will be added here to show current ads. </p>
  </div>
</main>
