html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, form, nav, ul {
  display: block;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.formBuilder img {
	width:100%; 
	height:auto;
}

.current-images { 
	list-style: none;
	padding:0;
	width:50%;
	display:block;
	float:left;
	padding:20px;
}

.current-images img { 
	width:100%;
	height:auto;
}

.formFields { 
	list-style: none;
	padding:0;
	margin:0;
}

#start_date,#end_date { 
	width:25%;
}

.times select { 
	width:25%;
}

section { 
	padding-bottom:40px;
	display:block;
	width:100%; 
	float:left;
	margin-top:10px;
}

.button { 
	background:#0D5257;
	padding:10px;
	color:#fff !important;
	border-radius:5px;
	margin-right:10px;
}

.button:hover, .button:active, .button:focus { 
	background:#333F48;
}