html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, form, nav, ul {
  display: block;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

#contentContainerLeft {
  float: left;
  padding: 0 10px;
}

#contentContainerMiddle { 
	margin-bottom:20px;
}


.menu { 
	margin:0 !important;
	padding:0 !important; 
}

.menu li { 
	padding:10px;
	margin:0 !important;
	text-transform: uppercase;
	border-bottom:1px solid #ccc;
} 

.menu li:first-child {
	border-top:1px solid #ccc;
} 

.menu a { 
	color:#005daa !important;
	display:block;
}

.menu a:focus, .menu a:hover, .menu a:active { 
	color:#333 !important;
}


.formBuilder img {
	width:100%; 
	height:auto;
}

.current-images { 
	list-style: none;
	padding:0;
	width:48%;
	display:block;
	float:left;
	padding:20px;
	margin:0;
	font-size:16px;
	background:#eee;
	margin-right:4%;
	border-radius:5px;
}

.current-images:nth-of-type(2n) { 
	margin-right:0;
}

.current-images > h2 { 
	margin:-15px 0 5px !important; 
    line-height: 1.6;
    font-size:20px;

}

.current-images > h3 { 
	font-size:16px;
	line-height: 1.6;
	margin:5px 0 0 0 !important; 
	border-bottom:1px solid #ccc;
}

.image-status, .image-priority { 
	width:50%; 
	display:inline-block;
}

.image-status.enabled{
 	color:#E35205;
 	padding:5px;
 }

 .image-status.disabled{
 	color:#666;
 	padding:5px;
 }

 .image-priority.low {
 	color:#0033A0;
 	padding:5px;
 }

 .image-priority.high {
 	color:#d82a2a;
 	padding:5px;
 }

a.edit.button { 
	width:49%;
	background:#00B3DF;
}

a.delete.button { 
	width:49%;
	background:#d82a2a; 
}

.current-images img { 
	width:100%;
	height:auto;
}

.formFields { 
	list-style: none;
	padding:0;
	margin:0;
}

#start_date,#end_date { 
	width:25%;
}

.times select { 
	width:25%;
}

section { 
	padding-bottom:40px;
	display:block;
	width:100%; 
	float:left;
	margin-top:10px;
}

.button {
	border: 0 none;
	border-radius: 2px 2px 2px 2px;
	color: #fff; 
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
	padding:10px;
	text-transform: none;
	width: 16.795%;
	text-align: center;
	background:#ccc;
 }

 .button:hover, .button:active, .button:focus, .button:visited {
 	color:#fff;
 	background:#333;
 }

 .confirm-delete, .confirm-delete:visited { 
 	background:#d82a2a; 
 }

 .confirm-delete:hover, .confirm-delete:active, .confirm-delete:active,  { 
 	background:#991d1d;
 }