header{
  width:100%;
  background: $header-background;
  padding: 10px;
  border-bottom: $border;
  color: $gray-text;

  .title-block {
    padding-top:5px;
    @include span-columns(12);
    @include breakpoint(tablet){
      @include span-columns(6);
    }

  }

  .user-panel {
    margin-top:10px;
    @include span-columns(12);

    @include breakpoint(tablet){
      margin-top:2px;
      @include span-columns(6);
      @include omega;
      text-align: right;
    }
  }

  h1 { font-size:16px; margin:0; padding:5px;}
}
