<p>
  <strong>Start Date:</strong>
  <%= ad.start_end_date.hr_start_date %>
</p>

<p>
  <strong>End Date:</strong>
  <%= ad.start_end_date.hr_end_date %>
</p>

<p>
  <%= link_to 'Destroy Date Range',
               [start_end_date.ad, start_end_date],
               method: :delete,
               data: { confirm: 'Are you sure?' }
  %>
</p>
