<div class="container">
  <h1>Editing Image Ad</h1>

  <%= render 'form', ad: @ad %>

  <h2>Date Ranges: </h2>
  <!-- Render is too slow... causes super slow times -->
  <%# render @ad.start_end_dates %>


  <h2>Time Ranges: </h2>
  <!-- Render is too slow... causes super slow times -->
  <%# render @ad.start_end_times %>
</div>

<div class="date-modal modal">
  <div class="modal-wrapper">
    <span class="close-modal"> <i class="fa fa-times-circle" aria-hidden="true"></i></span>
    <div class="modal-body">
      <h2> Add Date: </h2>
      <%= render 'admin/start_end_dates/form' %>
    </div>
  </div>
</div>

<div class="time-modal modal">
  <div class="modal-wrapper">
    <span class="close-modal"> <i class="fa fa-times-circle" aria-hidden="true"></i></span>
    <div class="modal-body">
      <h2> Add Time:</h2>
      <%= render 'admin/start_end_times/form' %>
    </div>
  </div>
</div>
